.wrapper {
  width: 950px;
  margin: 0 auto;
  box-sizing: border-box;
}
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 2px solid blue;
}
.description img {
  width: 500px;
}
.description .descript-text {
  width: 300px;
}
.nomore {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  border: 2px solid blue;
}
.nomore img {
  width: 500px;
}
.nomore .nomore-text {
  width: 300px;
}
.tab-navigator .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.tab-navigator .tabs .link {
  padding: 10px 40px;
  background: #6CB043;
}
