/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Crete Round', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.9rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #FAF3DD;
}
@media (max-width: 500px) {
  .wrapper {
    width: 90vw;
  }
}
nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  flex-wrap: wrap;
}
nav .logo {
  width: 100px;
  height: 100px;
  margin: 5px;
}
nav h2 {
  color: #6CB043;
}
nav a {
  width: 75px;
  margin: auto;
  padding: 5px 5px;
  font-size: 1.3rem;
  color: #6CB043;
}
nav button {
  padding: 5px 5px;
  border-radius: 5px;
  background: white;
  font-size: 1.3rem;
  color: #6CB043;
  width: 120px;
  margin: 15px;
}
@media (max-width: 500px) {
  nav nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  nav .logo {
    width: 50%;
    height: 200px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  nav h2 {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  nav div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  nav a {
    font-size: 2rem;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  nav div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  nav button {
    font-size: 2rem;
    width: 75%;
    margin: auto;
  }
}
.top-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  background-image: url(http://stvincentstmary.com/wp-content/uploads/2016/11/stv_stm_header-soup.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.top-content h2 {
  color: white;
  margin: 3px 15px;
}
.top-content h4 {
  color: white;
  margin: 3px 15px;
}
.top-content button {
  padding: 5px 5px;
  border-radius: 5px;
  background: #6CB043;
  font-size: 1.3rem;
  color: white;
  width: 120px;
  margin: 10px 15px;
}
@media (max-width: 500px) {
  .top-content {
    width: 100%;
    height: 250px;
    margin: auto;
  }
  h2 {
    position: relative;
    z-index: 10;
    margin: -30px auto;
  }
  h4 {
    display: none;
  }
  button {
    display: none;
  }
}
.mission {
  width: 75%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  background: hsla(33, 47%, 93%, 0.992);
  border-radius: 5px;
  position: relative;
  z-index: 10;
  margin: -70px auto;
}
.mission .mission {
  width: 350px;
  height: 200px;
  position: relative;
  z-index: 5;
  opacity: 0.75;
  filter: alpha(opacity=50);
}
.mission h3 {
  text-align: center;
  padding: 15px;
}
@media (max-width: 500px) {
  .mission {
    display: none;
  }
}
.tab-navigator .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .tab-navigator .tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }
}
.tab-navigator .tabs .link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 40px;
  margin: 10px;
  width: 150px;
  font-size: 1.6rem;
  text-decoration: none;
  background: #DCEDB9;
  border: 2px solid #6CB043;
  font-family: 'Crete Round', serif;
}
@media (max-width: 500px) {
  .tab-navigator .tabs .link {
    width: 45%;
  }
}
.tab-navigator .tabs .link-highlight {
  font-weight: 600;
  font-size: 1.8rem;
}
.tab-navigator .tabs div:hover {
  text-decoration: underline;
  font-weight: 600;
}
.tab-navigator .tab-content {
  width: 100%;
  background: #DCEDB9;
  padding: 20px;
}
.tab-navigator .tab-content .content {
  display: none;
}
.tab-navigator .tab-content .showup {
  display: block;
}
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 105px;
}
.description img {
  width: 500px;
}
.description .descript-text {
  width: 300px;
}
@media (max-width: 500px) {
  .description .descript-text {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .description {
    flex-direction: column;
  }
}
.nomore {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.nomore img {
  width: 500px;
}
.nomore .nomore-text {
  width: 300px;
}
@media (max-width: 500px) {
  .nomore {
    display: none;
  }
}
.bottom-content {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #FAF3DD;
  color: black;
  text-align: center;
}
.bottom-content .first {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  font-size: 1.3rem;
  border-radius: 5px;
  background-image: linear-gradient(#DCEDB9, #a5d289);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-content .first h2 {
  padding-bottom: 20px;
  text-align: center;
}
.bottom-content .first .list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.bottom-content .others {
  width: 220px;
  height: 270px;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 5px;
  background-image: linear-gradient(#DCEDB9, #a5d289);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-content .others h3 {
  padding: 5px;
  text-align: center;
}
.bottom-content .others .list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 15px;
}
@media (max-width: 500px) {
  .bottom-content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .first {
    width: 75%;
    margin: auto;
  }
  .first h2 {
    padding-bottom: 20px;
    text-align: center;
  }
  .first .list {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .others {
    width: 100px;
    margin: auto;
  }
  .others h3 {
    text-align: center;
    padding: none;
  }
  .others .list {
    padding-left: none;
  }
}
footer {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #FAF3DD;
}
footer p {
  width: 200px;
  padding: 5px 15px;
  font-size: 1rem;
  text-align: right;
}
