/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Crete Round', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .wrapper {
    width: 90vw;
  }
}
.tab-navigator .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .tab-navigator .tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }
}
.tab-navigator .tabs .link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 40px;
  margin: 10px;
  width: 150px;
  font-size: 1.6rem;
  text-decoration: none;
  background: #DCEDB9;
  border: 2px solid #6CB043;
  font-family: 'Crete Round', serif;
}
@media (max-width: 500px) {
  .tab-navigator .tabs .link {
    width: 45%;
  }
}
.tab-navigator .tabs .link-highlight {
  font-weight: 600;
  font-size: 1.8rem;
}
.tab-navigator .tabs div:hover {
  text-decoration: underline;
  font-weight: 600;
}
.tab-navigator .tab-content {
  width: 100%;
  background: #DCEDB9;
  padding: 20px;
}
.tab-navigator .tab-content .content {
  display: none;
}
.tab-navigator .tab-content .showup {
  display: block;
}
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.description img {
  width: 500px;
}
.description .descript-text {
  width: 300px;
}
@media (max-width: 500px) {
  .description .descript-text {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .description {
    flex-direction: column;
  }
}
.nomore {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.nomore img {
  width: 500px;
}
.nomore .nomore-text {
  width: 300px;
}
@media (max-width: 500px) {
  .nomore {
    display: none;
  }
}
