.aboutmainimg {
    margin: 20px 0;
  img {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }
}

.about-team {
  .displayFlex(space-around, center, column);
    margin: 0 90px;

  .member {
    width: 100%;
    padding: 20px;
    .displayFlex(space-around, space-around, row);
    &:nth-child(even) {
        flex-direction: row-reverse;
    
    }

    img {
      width: 350px;
      border-radius: 50px;
    }

    p {
      width: 350px;
      padding: 20px 0;
    }
  }
}
