.aboutmainimg {
    margin: 20px 0;
  img {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }
}

.about-team {
  .displayFlex(space-around, center, column);

  .member {
    width: 100%;
    padding: 20px;
    .displayFlex(space-around, space-around, row);

    img {
      width: 400px;
    }

    p {
      width: 400px;
      padding: 20px 0;
    }
  }
}
