.bottom-content {
    width: 100%;
    height: 300px;
    .displayFlex(space-around; center; row);
    background: @tan;
    color: black;
    text-align: center;


                .first {
                    width: 270px;
                    height: 270px;
                    margin: 0 auto;
                    font-size: 1.3rem;
                    border-radius: 5px;
                    background-image: linear-gradient((@accentgreen), lighten(@main, 20.5%));
                    .displayFlex(center; center; column);
                
                        h2{
                        padding-bottom: 20px;
                        text-align: center;
                    }
                    .list {
                        .displayFlex(center, start, column);
                    }
                }

                .others {
                    width: 220px;
                    height: 270px;
                    margin: 0 auto;
                    font-size: 2rem;
                    border-radius: 5px;
                    background-image: linear-gradient((@accentgreen), lighten(@main, 20.5%));
                    .displayFlex(center; center; column);
                 
                h3{
                    padding: 5px;
                    text-align: center;
                    
                }
                .list {
                        .displayFlex(center, start, column);
                        padding-left: 15px;
                    }
            }
}
                @media @mobile {
                    .bottom-content {
                    width: 100%;
                    margin: auto;
                    .displayFlex(space-around; center; column);
                    }

                .first {
                    width: 75%;
                    margin: auto;
                    
                    h2{
                        padding-bottom: 20px;
                        text-align: center;
                    }
                    .list {
                        .displayFlex(center, start, column);
                    }
                } 
                .others {
                    width: 100px;
                    margin: auto;                 
                h3{
                    text-align: center;
                    padding: none;
                    
                }
                .list {
                        padding-left: none;
                    }
            }   
        }



    footer {
        width: 100%;
        height: 5rem;
        margin: 0 auto;
        .displayFlex(space-between; center; row);
        flex-wrap: wrap;
        border: 1px solid @tan;
        p {
            width: 200px;
            padding: 5px 15px;
            font-size: 1rem;
            text-align: right;
        }
    }
