@import './reset';
@import './variables';
@import './mixins';
@import './global';
@import '../Tabs/Tabs.less';


.description {
    .displayFlex(space-around);
    img {
        width: 500px;
    }

    .descript-text {
        width: 300px;
    }
}

.nomore {
    .displayFlex(space-around, center, row-reverse);
    img {
        width: 500px;
    }
    .nomore-text {
        width: 300px;
    }
}

