.displayFlex(@justify: space-between, @align: center, @direction: row){
	display: flex;
	justify-content: @justify;
	align-items: @align;
	flex-direction: @direction;
}

.testBorder(){
    border: 2px solid blue;
}
.buttonSet(@padding: 5px 5px, @border-radius: 7px, @background-color: @main, @font-size: 1rem, @color: white) {
	padding: @padding;
	border-radius: @border-radius;
	background: @background-color;
    font-size: @font-size; 
	color: @color;	
}