.tab-navigator {
    .tabs {
        .displayFlex(center);

        .link {
            padding: 10px 40px;
            background: @accentgreen;
            font-size: 1.6rem;
            text-decoration: none;
        }

        .link-highlight {
            color: white;
        }
    }


   .tab-content {
       width: 100%;
       background: @main;

       .content {
           border: 1px solid @main;
           display: none;
       }

       .showup {
           display: block;
       }
   }
}